.mainContainer{
    /* width: 100vw; height: 100vh; justify-content: center; align-items: center; display: flex; background-image: url(../../assets/background.jpg); background-repeat: no-repeat; background-size: cover; object-fit: cover; */
    width: 100vw; height: 100vh; justify-content: center; align-items: center; display: flex;  background-color: snow;
}
.right-leftCon{
    width:80vw; height: 80vh; display: flex; justify-content: center;  
}
.right{
    width: 50%; height: auto; background-size: cover; object-fit: cover;
}
.right img{
    background-size: cover; object-fit: cover; height: 100%; width: 100%;border-radius: 6px 0 0 6px;
}
.right_heading{
    font-family: "Playwrite DE Grund", cursive; font-weight: 700; font-size: 2.5rem; position: absolute; top: 19%; left: 25%; color: rgb(0, 0, 0);
}
.right_content{
    font-family: "Playwrite DE Grund", cursive; font-weight: 700; font-size: 1.5rem; position: absolute; top: 27%; left: 25%; color: rgb(0, 0, 0); max-width: 450px;
}
.midCon{
    width: auto; height: auto; align-items: center;justify-content: center;display: flex; flex-direction: column;
    /* width: 25vw; height: auto; background-color: #640D5F; padding: 3rem; border-radius: 6px; */
}
.left{
    padding: 2rem; border-radius: 0 6px 6px 0; background-color: #982B1C;
}
.firstCont{
    display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;
}

.imgLogin{
    height: 150px; width: 150px;
}

.signup_heading{
    font-weight: 700; font-size: 2rem; color: rgb(255, 255, 255); padding-bottom: 10px; margin: 0; font-family: "Lato", sans-serif;
}
.signup_content{
    font-family: "Lato", sans-serif; font-weight: 500; font-size: 1.2rem; color: rgb(255, 255, 255); padding-bottom: 25px;text-align: center; margin: 0;
}

.signup_form{
    display: flex; flex-direction: column; align-items: center;justify-content: center; width: 95%;
}

.input_field{
    display: flex;flex-direction: column;width: 100%; margin-bottom: 15px;
}
.signup_label{
    font-family: "Lato", sans-serif; font-weight: 700; font-size: 0.8rem; color: rgb(245, 238, 238); 
}
.signup_input{
    padding: 12px; border-radius: 3px; border: none; outline: none; width: 100%; color: rgb(0, 0, 0);padding-bottom: 10px;font-size: 1rem;
}

.excludeSubmit{
    display: flex;flex-direction: column; width: 100%; align-items: flex-start; 
}

.signup_button{
    padding: 8px 15px; font-size: 1rem; font-family: "Lato", sans-serif; font-weight: 600; background-color: rgb(0, 0, 0); margin-top: 25px; border: none; outline: none; border-radius: 4px; color: rgb(255, 255, 255); cursor: pointer;
    &:hover{
        color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);
    }
}
.already_account{
    text-align: center; font-family: "Lato", sans-serif; padding: 10px;color: rgb(248, 237, 237);letter-spacing: 0.5px;margin: 10px;
}
.login_here{
    color: rgb(255, 255, 255); letter-spacing: 0.5px; cursor: pointer; text-decoration: underline;
    &:hover{
        color: rgb(34, 46, 224);
    }
}

.error{
    color: rgb(255, 186, 186);font-weight: 600; margin: 0;
}

.google_login{
    padding: 10px 20px;font-family: "Playwrite DE Grund", cursive; border: none ; outline: none; background-color: black; color: white; font-weight: 600; display: flex;align-items: center;justify-content: center; gap: 0.6rem;
}
.googlePic{
    font-size: 2rem;
}

@media (max-width: 480px) {
    .midCon{
        width: max-content; margin: 2rem;padding: 1rem;
    }
}
@media (max-width: 1550px) {
    .midCon{
        width: max-content; margin: 2rem;padding: 1rem;
    }
    .right_heading{
        font-family: "Playwrite DE Grund", cursive; font-weight: 700; font-size: 2.5rem; position: absolute; top: 47%; left: 14%; color: rgb(255, 255, 255);
    }
    .right_content{
        font-family: "Playwrite DE Grund", cursive; font-weight: 700; font-size: 1.5rem; position: absolute; top: 57%; left: 14%; color: rgb(255, 255, 255); max-width: 450px;
    }
}